.entrance {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #171616d6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.box {
  padding: 25px;
  background: #222e35;
  border: 3px solid #42cba5;
  border-radius: 3px;
  min-width: 250px;
  p {
    color: #dff3ed;
    a {
      color: #42cba5;
    }
  }
  input {
    width: 40%;
    padding: 5px 15px;
    margin: 15px;
    border: 3px solid #42cba5;
    border-radius: 5px;
    background-color: #dff3ed;
  }
  button {
    border: 3px solid #42cba5;
    border-radius: 5px;
    background-color: #dff3ed;
    &:hover {
      border: 3px solid #01120d8a;
      transform: scale(0.95);
    }
    &:active {
      color: #42cba5;
    }
  }
}
